body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #calendar {
    width: 70%;
    margin: 2rem auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #event-form {
    display: none;
    margin-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  #addEventBtn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-item {
    margin-bottom: 10px;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .delete-btn {
    cursor: pointer;
    color: red;
    margin-left: 10px;
    background-color: transparent;
    border: none;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  #saveEventBtn {
    
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: #007bff;
    font-weight: 500;
    color: #ffffff;
    
  }
 